# Managed by ansbile, see .zshenv.local

{% if ansible_os_family == "Darwin" %}

  {% if ansible_machine == 'arm64' %}

export HOMEBREW=/opt/homebrew
export PATH=$HOMEBREW/bin:$PATH

  {% endif %}

{% endif %}

export USER_LOCAL=~/.local
export PATH=$USER_LOCAL/bin:$PATH

if [ -e $HOME/.nix-profile/etc/profile.d/nix.sh ]; then . $HOME/.nix-profile/etc/profile.d/nix.sh; fi

{% if ansible_os_family == "Darwin" %}

command -v gls >/dev/null 2>&1 && alias ls='gls --color=auto'

# apply solarize ls colors
command -v gdircolors >/dev/null 2>&1 && eval `gdircolors ~/.dircolors`

{% else %}

# apply solarize ls colors
eval `dircolors ~/.dircolors`

{% endif %}

# setup for global npm packages install in home directory
export NPM_PACKAGES=~/.npm-packages
export PATH=$NPM_PACKAGES/bin:$PATH
export NODE_PATH=~/.npm-packages/lib/node_modules

source ~/.zshenv.local
