# Managed by ansbile, changes will be overwritten, see .zshenv.local
# put anything other than path variable updates here

{% if ansible_os_family == "Darwin" %}

command -v gls >/dev/null 2>&1 && alias ls='gls --color=auto'

# apply solarize ls colors
command -v gdircolors >/dev/null 2>&1 && eval `gdircolors ~/.dircolors`

{% else %}

# apply solarize ls colors
eval `dircolors ~/.dircolors`

{% endif %}

alias bb='brazil-build'
alias bbb='brazil-recursive-cmd "brazil-build"'

source ~/.zshenv.local
